.sidenav-container {
  height: 100%;
}
.nav * {
  color: #fff;
}
.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
.hidden {
  display: none;
}

.spacer{
  flex: 1 1 auto;
}
a{
text-decoration: none;
}
.logo{
  margin-left: 50%;
  height: 28px;
}
.mat-icon{
  margin-right: 10px;
}
